In [1]:
import datetime
from src.datasource import YahooDataSource
from src.utils import find_cointegrated_pairs,get_top_k_pairs

In [27]:
# Extract the Data from the Yahoo Data Source
start_date = datetime.datetime(2014, 3, 29)
end_date = datetime.datetime(2024, 3, 29)
tickers  =  ["GOOGL","GOOG","AAPL","NVDA",'ITOT', 'ACWI', 'IWV', 'VT', 'VTI','DIA', 'RSP', 'IOO', 'IVV', 'SPY']
columns =   ["High","Close","Low","Volume"]
ds = YahooDataSource(start_date,end_date,tickers,columns)

In [28]:
# Get only Close column data
df = ds.get_data_by_column_tickers(columns=["Close"],tickers=-1)

In [29]:
df.head(n=5)

,GOOGL_Close,NVDA_Close,IOO_Close,RSP_Close,SPY_Close,ACWI_Close,VT_Close,AAPL_Close,DIA_Close,GOOG_Close,ITOT_Close,IWV_Close,VTI_Close,IVV_Close
0,27.890640,4.243109,31.045824,61.630013,156.286041,47.348732,47.717979,16.884604,133.019073,27.772251,35.801590,95.366776,81.718513,157.057968
1,28.400652,4.418424,31.161472,62.145073,157.322311,47.690781,48.069862,17.039062,133.594147,28.280355,36.064579,96.190437,82.355698,158.093124
2,28.405907,4.389994,31.253174,62.389919,157.848816,47.804810,48.141819,17.067373,133.934250,28.272379,36.194019,96.462143,82.615593,158.602371
3,28.575001,4.437377,31.189379,62.313965,157.639862,47.707081,48.037861,16.949089,133.910004,28.409002,36.156448,96.232925,82.389221,158.452118
4,27.262501,4.299968,31.033871,61.604694,155.776199,47.356892,47.622017,16.729832,132.727539,27.082645,35.676342,94.925232,81.257408,156.573807

In [30]:
scores, pvalues, pairs = find_cointegrated_pairs(df)

In [31]:
top_pairs = get_top_k_pairs(pairs,1)

In [32]:
top_pairs

[(('GOOGL_Close', 'GOOG_Close'), 0.0004696405607190053)]

In [33]:
# Get first pair
tickers = ds.get_tickers(top_pairs[0][0])

In [26]:
df_all=ds.get_data_by_column_tickers(columns=["Close","High"],tickers=tickers)